python-dotenv
# redis

streamlit
streamlit-authenticator
# streamlit_mic_recorder

langchain
langchain_core
langchain_openai
langchain_community
langgraph

# gtts
# ollama
# openai
# google-generativeai
# assemblyai
# mistralai
