python-dotenv
# redis

streamlit
streamlit-authenticator
# streamlit_mic_recorder
stqdm

langchain
langchain_core
langchain_openai
langchain_community
langgraph
grandalf

tavily-python
bs4
chromadb

# gtts
# ollama
# openai
# google-generativeai
# assemblyai
# mistralai
